@using Shop_Klimov.Data.Models

@model IEnumerable<Categories>

@{
    Layout = "_Layout";
}

<div class="cat">
    <h2>Все категории</h2>
    <form class="add" method="get" action="/Categories/Add">
        <input class="adding" type="submit" value="Добавить категорию" />
    </form>
</div>

@{
    foreach (var categories in Model)
    {
        <div class="category">
            <div class="data">
                <h3>Модель: @categories.Name</h3>
                <div>Описание: @categories.Description</div>
            </div>
            <div class="DelEdit">
                <form class="del" method="post" action="/Categories/Delete">
                    <input type="hidden" name="id" value="@categories.Id" />
                    <input type="submit" value="Удалить" />
                </form>

                <form class="edit" method="get" action="/Categories/Update">
                    <input type="hidden" name="id" value="@categories.Id" />
                    <input type="submit" value="Изменить" />
                </form>
            </div>
        </div>
    }
}
