<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="~/css/Style.css"/>
        <title>@ViewBag.Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="header">
            <img src="~/img/search.png"/>
            <input class="search" placeholder="Поиск по сайту" />
            <a class="toCategories" href="/Categories/Categories">Категории</a>
            <a class="toCategories" href="/Items/List">Товары</a>
            <img class="basket" src="~/img/basket.png"/>
        </div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>